.center-navbar {
  margin-left: 48vw;
}

@media (max-width: 1400px) {
  .center-navbar {
    margin-left: 49vw;
  }
}

@media (max-width: 1200px) {
  .center-navbar {
    margin-left: 49vw;
  }
}

@media (max-width: 992px) {
  .center-navbar {
    margin-left: 49vw;
  }
}

@media (max-width: 768px) {
  .center-navbar {
    margin-left: 47vw;
  }
}

@media (max-width: 576px) {
  .center-navbar {
    margin-left: 46vw;
  }
}
